<div class="content">
    <img [src]="photo_url" alt="photo of gift">
    <div class="about">
        <h4>Завтрак с президентом(можно подлиннее)</h4>
        <ul>
            <li> Цвет: <b>-</b></li>
            <li> Бренд: <b>Nike & Off-white</b> </li>
            <li> Материал: <b>-</b></li>
            <li> Изготовлено: <b>-</b></li>
            <li> <span class="likes icon">120 &#xe800;</span> <span class="feedback ml-2">Отзывы: 12</span></li>
        </ul>

        <b >Цена: <span class="price mb-4 mt-4">150f</span> </b> <br>

        <button class="buy mb-4 mt-4">Купить</button>

        <div class="description">
            <h6 class="mb-0">Описание:</h6>
            <p class="mt-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni.</p>
        </div>
    </div>
</div>
