<div class="top">
    <h6>Подарки</h6>
    <select name="sort" id="sort">
        <option value="" selected>Сортировка по</option>
        <option value="byName">По названию</option>
        <option value="byPrice">По цене</option>
        <option value="byRating">По лайкам</option>
    </select>
</div>
<div class="gifts">
    <div class="gift">
        <img src="/assets/Gifts/photo1.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 1]">Купить</a>
    </div>
    <div class="gift">
        <img src="/assets/Gifts/photo2.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 2]">Купить</a>
    </div>
    <div class="gift">
        <img src="/assets/Gifts/photo4.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 4]">Купить</a>
    </div>
    <div class="gift">
        <img src="/assets/Gifts/photo5.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 5]">Купить</a>
    </div>
    <div class="gift">
        <img src="/assets/Gifts/photo6.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 6]">Купить</a>
    </div>
    <div class="gift">
        <img src="/assets/Gifts/photo7.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 7]">Купить</a>
    </div>
    <div class="gift">
        <img src="/assets/Gifts/photo8.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 8]">Купить</a>
    </div>
    <div class="gift">
        <img src="/assets/Gifts/photo9.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 9]">Купить</a>
    </div>
    <div class="gift">
        <img src="/assets/Gifts/photo1.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 1]">Купить</a>
    </div>
    <div class="gift">
        <img src="/assets/Gifts/photo3.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 3]">Купить</a>
    </div>
    <div class="gift">
        <img src="/assets/Gifts/photo4.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 4]">Купить</a>
    </div>
    <div class="gift">
        <img src="/assets/Gifts/photo4.png" alt="gift photo">
        <div class="gift-name">Завтрак с президентом</div>
        <div class="gift-info">
            <span class="rating"> <span class="icon">&#xe800;</span>120</span> 
            <span>Стоимость:  <span class="price"> 300f</span></span>
        </div>
        <a class="buy" [routerLink]="['/gifts', 4]">Купить</a>
    </div>
</div>
<div class="pages">
    <span class="prevPage icon">&#xe801;</span> 
    <span class="active">1</span> 
    <span class="nextPage icon">&#xe802;</span>
</div>