<div class="content" *ngIf="tasks">
    <div class="row" *ngFor="let task of tasks">
        <div class="col">
            <div class="card mb-3 p-2 justify-content-start" style="min-height: 80px">
                Название: {{ task.name }} <br>
                Описание: {{ task.descript }} <br>
                Выполнить до: {{ task.date }} <br>
                Награда: {{ task.bonuses }}f <br>
                <div>
                    <button class="btn btn-outline-success mr-2" (click)="takeTask(task.id)">Взять</button>
                </div>
            </div>
        </div>
    </div>
</div>