<footer>
    <ul class="footer-ul footer-links">
        <li class="">
            <a routerLink="/feedback" class="footer-link link">Обратная связь</a>
        </li>
        <li class="">
            <a routerLink="/contacts" class="footer-link link">Контакты</a>
        </li>
        <li class="">
            <a routerLink="/errors" class="footer-link link">Сообщить об ошибке</a>
        </li>
        <li class="">
            <a routerLink="/answers" class="footer-link link">Вопросы</a>
        </li>
    </ul>
</footer>