<div class="top">
    <h6>События</h6>
</div>
<div class="events">
    <div class="event">
        <img src="/assets/Events/photo1.png" alt="event photo">
        <div class="event-name" [routerLink]="['/events', 1]">Коронавирус</div>
        <div class="event-descript">Новая неизученная инфекция охватила весь мир</div>
        <div class="event-info">
            <span class="date">12 марта 2020</span>
            <span class="rating"><span class="icon">&#xe800;</span>120</span>
        </div>
    </div>
    <div class="event">
        <img src="/assets/Events/photo2.png" alt="event photo">
        <div class="event-name" [routerLink]="['/events', 2]">Коронавирус</div>
        <div class="event-descript">Новая неизученная инфекция охватила весь мир</div>
        <div class="event-info">
            <span class="date">12 марта 2020</span>
            <span class="rating"><span class="icon">&#xe800;</span>120</span>
        </div>
    </div>
    <div class="event">
        <img src="/assets/Events/photo3.png" alt="event photo">
        <div class="event-name" [routerLink]="['/events', 3]">Коронавирус</div>
        <div class="event-descript">Новая неизученная инфекция охватила весь мир</div>
        <div class="event-info">
            <span class="date">12 марта 2020</span>
            <span class="rating"><span class="icon">&#xe800;</span>120</span>
        </div>
    </div>
    <div class="event">
        <img src="/assets/Events/photo4.png" alt="event photo">
        <div class="event-name" [routerLink]="['/events', 4]">Коронавирус</div>
        <div class="event-descript">Новая неизученная инфекция охватила весь мир</div>
        <div class="event-info">
            <span class="date">12 марта 2020</span>
            <span class="rating"><span class="icon">&#xe800;</span>120</span>
        </div>
    </div>
    <div class="event">
        <img src="/assets/Events/photo3.png" alt="event photo">
        <div class="event-name" [routerLink]="['/events', 3]">Коронавирус</div>
        <div class="event-descript">Новая неизученная инфекция охватила весь мир</div>
        <div class="event-info">
            <span class="date">12 марта 2020</span>
            <span class="rating"><span class="icon">&#xe800;</span>120</span>
        </div>
    </div>
    <div class="event">
        <img src="/assets/Events/photo2.png" alt="event photo">
        <div class="event-name" [routerLink]="['/events', 2]">Коронавирус</div>
        <div class="event-descript">Новая неизученная инфекция охватила весь мир</div>
        <div class="event-info">
            <span class="date">12 марта 2020</span>
            <span class="rating"><span class="icon">&#xe800;</span>120</span>
        </div>
    </div>
</div>
<div class="pages">
    <span class="prevPage icon">&#xe801;</span> 
    <span class="active">1</span> 
    <span class="nextPage icon">&#xe802;</span>
</div>